@import '../../../BandeauNEW.css';
:root
{
	--BandeauCouleur: #d4d700;
	--MatiereCouleur:  #bdc00b;
}




#image_tema1
{
	background-image: url("sky.jpg");
}

#image_tema2
{
	background-image: url("rock-wall.jpg");
}

#image_tema3
{
	background-image: url("dandelion.jpg");
}

#image_tema4
{
	background-image: url("bacteria.jpg");
}



