@import '../../../BandeauNEW.css';
:root
{
	--BandeauCouleur: rgb(254,190,5);
	--MatiereCouleur: rgb(231,172,0);
}	
body
{
	font-family: Trebuchet MS/*Avenir, sans-serif*/;

	background-color: /*blanc*/ rgb(245,245,245);

	margin: auto;
	padding: auto;
}




											/*BOUTON PRINCIPAL*/






#bandeau
{
	display: flex;
	justify-content: space-between;
	height: 100px;


	/*border-bottom: tom: 5px rgba(100,100,100,0.4) solid;*/
	
	background-color: /*vert*/ rgb(254,190,5);
	/*animation: example 30s infinite;*/

	
	
}





#Matière
{
	height: 70px;
	line-height: 33px;

	margin-top:	15px;	
	margin-right: 20px;
	padding-left: 30px;
	padding-right: 30px;

	border-radius: 80px;
	/*box-shadow: inset 0 0 1em black, 0 0 1em transparent/*rgb(36,115,57);*/
	

	background-color: rgb(231,172,0);
	color: white;

	cursor: pointer;
}

#boite_logo
{
	display: flex;
	width: 700px;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	
	/*background-color: yellow;*/

	
	margin-left: 100px;
}


#logo
{
	
	
	color: white;
	background-color: transparent;

	font-family: Avenir, sans-serif;
	font-size: 30px;

	height: 70px;
	width: 70px;

	border-radius: 	70px;
	border: white 2px solid;
	border-top: white 2px solid;
	border-right: white 2px solid;
	border-bottom: white 10px solid;
	border-left: white 8px solid;
	outline-style: none;

	line-height: 0px;

	margin-left: 57px;
	margin-top: 15px;

	cursor: pointer;


	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.rotated { 
    transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg); 
}


/*#éléments_logo
{
    position: absolute;

    display: none;
    padding-top:5px;
	margin-top: 100px;

    width: 350px;
    height: 150px;
    background-color: rgba(0,0,0,0.1);


    border-radius:   0px 0px 100px 0px;
	line-height: 150PX;
}


.retour_menu
{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	color: white;
	background-color: rgb(135,201,102);
	margin-left: 30px;
	text-align: center;
	

	line-height: 100PX;
}*/




#document
{
	/*position: absolute;*/
	/*display: none;*/
	/*display: flex;*/
	/*align-items: center;*/
	justify-content: center;

	/*width: 150px;*/
	height: 80px;

	/*margin: auto;*/
	margin-top: -73px;
	margin-left: 135px;		
	padding-left: 5px;
	padding-right: 5px;	

	border-radius: 100px;
	/*border-bottom: 2PX rgb(36,115,57) solid; */
	/*border-right: 2PX rgb(36,115,57) solid;*/

	background-color: red /*rgb(36,115,57)*/;
	/*line-height: 150px;*/

	opacity: 0.9;
}	







.bulle
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 70px;
	height: 70px;

	margin: auto;
	margin-left: 15px;
	margin-top: 3px;
	margin-right: 15px;

	border-radius: 200px;
	border-bottom: 2PX rgb(230,230,230) solid; 
	border-right: 2PX rgb(230,230,230) solid;

	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;
	box-shadow: inset 0 0 1em transparent, 0 0 1em  grey/*rgb(36,115,57)*/;
	}

.bulle:hover
{
	box-shadow: inset 0 0 1em transparent, 0 0 1em  white/*rgb(36,115,57)*/;
}




#BlocMatire
{
	/*background-color: green;*/
	display: flex;

}


#document_2
{
	/*position: absolute;*/
	/*display: none;*/

	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/

	/*width: 150px;*/
	height: 60px;

	/*margin: auto;*/
	margin-top: 20px;
	margin-right: 15px;		
	/*padding-left: 5px;*/
	/*padding-right: 5px;	*/

	/*border-radius: 100px;*/
	/*border-bottom: 2PX rgb(36,115,57) solid; */
	/*border-right: 2PX rgb(36,115,57) solid;*/

	/*background-color: red ;*/
	/*line-height: 150px;*/

	opacity: 0.9;
}	



#ijh
{
	/*background-color: red;*/
	display: flex;
	
}


.leMenu
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 60px;
	height: 60px;

	margin: auto;
	margin-left: 15px;
	/*margin-top: 20px;*/
	border-radius: 200px;
	/*border-bottom: 2PX rgb(230,230,230) solid; 
	margin-right: 15px;

	border-right: 2PX rgb(230,230,230) solid;*/

	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;

	background-image: url("../../PZ IMAGES/Home_2.png");
	background-size: cover;
}

.leMenu:hover
{
	/*box-shadow: inset 0 0 1em transparent, 0 0 1em  white;*/
	transition: 200ms;
	box-shadow: 5px 5px rgba(0,0,0,0.3);
}


.Imprimante
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 60px;
	height: 60px;

	margin: auto;
	margin-left: 15px;
	/*margin-top: 20px;*/
	border-radius: 200px;
	/*border-bottom: 2PX rgb(230,230,230) solid; 
	margin-right: 15px;

	border-right: 2PX rgb(230,230,230) solid;*/

	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;

	background-image: url("../../PZ IMAGES/Imprimant_2.png");
	background-size: cover;
}

.Imprimante:hover
{
	transition: 200ms;
	box-shadow: 5px 5px rgba(0,0,0,0.3);
}



.Essence
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 60px;
	height: 60px;

	margin: auto;
	margin-left: 15px;
	/*margin-top: 20px;*/
	border-radius: 200px;
	/*border-bottom: 2PX rgb(230,230,230) solid; 
	margin-right: 15px;

	border-right: 2PX rgb(230,230,230) solid;*/

	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;

	background-image: url("../../PZ IMAGES/Essentiel_2.png");
	background-size: cover;


}

.Essence:hover
{
	/*box-shadow: inset 0 0 0.5em white , 0 0 1em  orange ;*/
	box-shadow: inset 3px 3px orange, 5px 5px rgba(0,0,0,0.3);
	transition: 200ms;
}





#Theme
{
	display: flex;
	/*align-items: center;*/
	/*height: 50px;*/
	margin-top: -5px;
	height: 80px;
	/*padding-top: 5px;*/
	/*padding-right: 40px;*/
	/*text-align: right;*/
	
	/*width: 1100px;*/

	/*border-bottom: 2px red solid;*/
	/*border: 2px red solid;*/
	/*border-radius: 0px 20px 0px 20px;*/

	/*box-shadow: 0px 0px 10px 0px grey ;*/
	box-shadow: 0 10px 6px -6px grey;

	background-color: /*green*/ rgba(255,255,255,0.5);
	
	
	font-size: 17px;
	font-family: Trebuchet MS ;

}




#Nom_Theme
{
	/*background-color: red;*/
	color: grey;
	padding-left: 100px;
	height: 75px;
	margin-top: auto;
}





#Bloc_Theme_Conjugaison
{
	display: flex;
	align-items: center;
	background-color: /*green*/rgb(81,208,215);
	width: 210px;
	height: 75px;
	/*line-height: 37.5px;*/
	margin-left: auto;
	margin-top: auto;
	/*margin-right: 40px;*/

	cursor: pointer;
	
}



#Theme_Conjugaison
{
	align-items: center;
	background-color: /*yellow*/ rgb(81,208,215);
	width: 200px;
	height: 75px;
	line-height: 37.5px;
	margin-left: -22px;
	/*margin-top: auto;*/
	/*margin-right: 40px;*/
	color: white;
	-webkit-transform:skew(-30deg);
	-moz-transform:skew(-30deg);
	-o-transform:skew(-30deg);
	tranform:skew(-30deg);
}



#Texte_Theme_Conjugaison
{
	margin-right: -22px;
	color: white;
	width: 200px;
	text-align: center;
	/*padding-right: 50px;
	margin-left: 50px;*/
	/*background-color: red;*/
	-webkit-transform:skew(30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	tranform:skew(30deg);
}



#Introduction
{
	width: 1000px;

	justify-content: space-around;
	/*align-items: center;*/
	/*text-align: center;*/

	/*margin-left: -4%;*/

	margin-left: auto;
	margin-right: auto;

	padding: 15px;

	border-radius: 5px;
	/*height: 1000px;*/

	font-family: Trebuchet MS;
	line-height: 25px;

	/*background-color: rgba(255,0,0,0.3);*/
	color: grey;
	/*font-family: sans-serif;*/
	font-size: 20px;
}



#Prob
{
	display: flex;
	
	margin: auto;
	padding: 0.5px;
	padding-left: 50px;
	
	width: 1100px;

	/*border-bottom: 2px red solid;*/
	/*border: 2px red solid;
	border-radius: 0px 20px 0px 20px;
*/	
	/*background-color: white;*/
	color: /*green*/rgb(76,175,80);
	/*font-size: 20px;*/
	font-family: Trebuchet MS;
}



#feuille_cours
{
	width: 1150px;
	justify-content: space-around;
	/*align-items: center;*/
	/*text-align: center;*/

	margin: auto;

	padding: 30px;

	border: 3px rgb(238,238,238) solid;
	border-radius: 5px;
	/*height: 1000px;*/

	background-color: white;
	font-family: sans-serif;
	font-size: 20px;

	


	box-shadow: inset 0 0 1em transparent, 0 0 1em grey ;
}

.titre
{
	color: red;
	font-family: Trebuchet MS;
}


.Prob
{
	color: /*green*/rgb(76,175,80)/*rgb(51,163,83)*/;
	font-family: Trebuchet MS;
}

.Bleu
{
	color: /*blue*/ rgb(26,115,232) ;
	font-family: Trebuchet MS;	
	margin-left: -4%;	
}

#Trebuchet
{
	font-family: Trebuchet MS;	
	
}

#Bilan
{
	width: 1100px;

	justify-content: space-around;
	/*align-items: center;*/
	/*text-align: center;*/

	margin-left: -4%;

	padding: 15px;

	border-radius: 5px;
	/*height: 1000px;*/

	background-color: rgba(255,0,0,0.3);
	font-family: sans-serif;
	font-size: 20px;

}

#Citation
{

	text-align: center;
	

	
	display: table;
	margin: 0 auto;


	color: grey /*rgb(209,73,47)*/;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0px 20px 20px 20px;
	border: 3px grey /*rgb(209,73,47)*/ solid;

	
	font-family: Trebuchet MS;		
	font-size: 25px;
	/*background-color: transparent ;*/
}


#Citation:hover
{

	color: rgb(254,190,5) /*rgb(209,73,47)*/;

	border: 3px rgb(254,190,5) /*rgb(209,73,47)*/ solid;

	tranistion: 1s;

}

#Définition
{
	width: 1100px;

	justify-content: space-around;
	/*align-items: center;*/
	/*text-align: center;*/

	margin-left: -4%;

	padding: 15px;

	border-radius: 5px;
	/*height: 1000px;*/

	background-color: rgba(237,125,49,0.5);
	font-family: sans-serif;
	font-size: 20px;

}

/*#Exemple*/
{
	width: 1020px;

	justify-content: space-around;
	/*align-items: center;*/
	/*text-align: center;*/

	/*margin-left: -4%;*/

	padding: 15px;

	border-radius: 5px;
	/*height: 1000px;*/
	/*background-color: rgba(255,0,0,0.3);*/
	border: 2px rgb(237,125,49) solid;

	color: rgb(237,125,49);
	font-family: sans-serif;
	font-size: 20px;

}

#tab
{
	margin: 5px;
	margin-left: 30px;

}


#élément_important
{
	/*width: 1100px;*/

	/*justify-content: space-around;*/
	/*align-items: center;*/
	text-align: center;

	/*margin: auto;*/

	padding: 15px;

	border-radius: 30px;
	/*height: 1000px;*/

	color: rgb(255,0,0);
	font-family: sans-serif;
	font-size: 20px;
}

			
#Exemple
{
	width: 1020px;

	justify-content: space-around;
	/*align-items: center;*/
	/*text-align: center;*/

	/*margin-left: -4%;*/

	padding: 15px;

	border-radius: 5px;
	/*height: 1000px;*/

	background-color: rgb(230,244,250);
	font-family: sans-serif;
	font-size: 20px;


}


.Image_1
{
	height: 189px;
	width: 850px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}


.Image_2
{
	height: 242px;
	width: 851px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}



.Image_3
{
	height: 241px;
	width: 852px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}

.Image_4
{
	height: 214px;
	width: 853px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}

.Image_5
{
	height: 214px;
	width: 852px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}

.Image_6
{
	height: 216px;
	width: 854px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}

.Image_7
{
	height: 189px;
	width: 849px;
	background-color: red;

	margin: 30px;
	margin-left: auto;
	margin-right: auto;

}



#Formule
{
	text-align: center;
	

	
	display: table;
	margin: 0 auto;


	color: /*#900C3F*/  rgb(209,73,47);
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0px 20px 20px 20px;
	border: 3px rgb(209,73,47) solid;

	
	font-family: Trebuchet MS;		
	font-size: 25px;
	background-color: transparent ;
}

#Milieu
{
	width: 300px;

	justify-content: space-around;
	/*align-items: center;*/
	text-align: center;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;

/**/
	/*padding: 15px;*/

	/*border-radius: 10px;*/
	/*height: 1000px;*/

	
	font-family: Cambria, Georgia, serif;
	font-size: 20px;
	/*background-color: rgba(149,193,13,0.7);*/
}



#EeI
{
	text-align: center;
	/*display: flex;*/
	
	margin: auto;
	margin-bottom: 30px;
	/*padding: 0.5px;*/
	/*padding-left: 50px;*/
	
	width: 500px;
	box-shadow: inset 0 0 1em transparent, 0 0 0.5em orange /*rgb(36,115,57)*/;


	/*border-bottom: 2px red solid;*/
	border: 3px rgb(238,238,238) solid;
	/*border-radius: 0px 20px 0px 20px;*/
	border-radius: 50px;

	background-color: orange;
	color: white;
	/*font-size: 20px;*/
	font-family: Trebuchet MS;
	cursor: pointer;
}	




#text_0, #text_1, #text_2
{
    width: 1000px;
    display:none;

    margin-top: 10px;
    padding-left: 50px;
}  



#boite_titre_0
{
	display: flex;
	width: 1100px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	
	/*background-color: red;*/

	font-size:1.1em;
	border-bottom: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	border-radius: 0px 25px 25px 0px;
	margin-left: 20px;
}


#afficheMasque_0, #afficheMasque_1, #afficheMasque_2 
{
	background-color: /*rgb(230,230,230)*/ transparent;
	border-radius: 50px;
	border: none;
	width: 50px;
	height: 50px;

	font-size: 35px;
	outline-style: none;
	cursor: pointer;
	
}


#afficheMasque_0:hover
{
	background-color: rgb(245,245,245) ;
	transition: 200ms;
}

#afficheMasque_1:hover
{
	background-color: rgb(245,245,245) ;
	transition: 200ms;
}


#footer
{
	background-color: /*vert*/ rgb(254,190,5);
	padding: 20px;

	display: flex;
	/*border-bottom: 5px  rgb(149,193,13) solid;*/
	/*border-top: 5px  rgb(149,193,13) solid;*/
	padding-left: 50px;
}





.P/*:nth-child(1)*/ a

{
 

	text-decoration: none;
	/*background-color: rgb(255,226,43);*/
	color: rgb(238,238,238)  ;
	padding: 20px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 24px;
	padding-top:23px;
	border-right: 1px rgb(238,238,238) solid;
}
