@import '../../../BandeauNEW.css';
:root
{
	--BandeauCouleur: rgb(255,100,120);
	--MatiereCouleur: rgb(240,47,83);
}

body
{
	font-family:Avenir, sans-serif  ;

	background-color: 					/*blanc*/ rgb(238,238,238)/*yellow*/;

	margin: auto;
	padding: auto;
}

				/*jaune rgb(240,176,40)*/


											/*BOUTON PRINCIPAL*/





#bandeau
{
	display: flex;
	justify-content: space-between;
	height: 100px;

	
	margin-bottom: 10px;

	/*border-bottom: tom: 5px rgba(100,100,100,0.4) solid;*/
	
	background-color: /*vert*/ rgb(255,100,120);
	/*animation: example 30s infinite;*/

	
	
}


#ensembe_retour_matiere
{
	display: flex;

	height: 100px;
	padding-left: 30px;
	/*padding-right: 30px;*/
	/*background-color: blue;*/
}

#Matière
{
	height: 70px;
	line-height: 33px;

	margin-top:	15px;	
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 30px;
	padding-right: 30px;

	border-radius: 80px;
	/*box-shadow: inset 0 0 1em black, 0 0 1em transparent/*rgb(36,115,57);*/
	
	font-family: Trebuchet MS;

	background-color: rgb(240,47,83);
	color: white;

	/*cursor: pointer;*/
}


#retour
{
	text-align: center;
	line-height: 0px;

	height: 70px;
	width: 70px;

	margin-top:	15px;

	border-radius: 80px;
	background-color: rgb(36,115,57) /*red*/;
	color: white;

	cursor: pointer;

	font-size: 25px;
	font-family: Trebuchet MS;
}



#boite_logo
{

	/*display: flex;*/
	/*display: none;*/
	width: 700px;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	
	background-color: red;

	
	margin-left: 100px;
}


#logo
{
	
	
	color: white;
	background-color: transparent;

	font-family: Avenir, sans-serif;
	font-size: 30px;

	height: 70px;
	width: 70px;

	border-radius: 	70px;
	border: white 2px solid;
	border-top: white 2px solid;
	border-right: white 2px solid;
	border-bottom: white 10px solid;
	border-left: white 8px solid;
	outline-style: none;

	line-height: 0px;

	margin-left: 57px;
	margin-top: 15px;

	cursor: pointer;


	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.rotated { 
    transform:rotate(-360deg); 
    -webkit-transform:rotate(-360deg); 
    -moz-transform:rotate(-360deg); 
    -o-transform:rotate(-360deg); 
}


/*#éléments_logo
{
    position: absolute;

    display: none;
    padding-top:5px;
	margin-top: 100px;

    width: 350px;
    height: 150px;
    background-color: rgba(0,0,0,0.1);


    border-radius:   0px 0px 100px 0px;
	line-height: 150PX;
}


.retour_menu
{
	height: 100px;
	width: 100px;
	border-radius: 100px;
	color: white;
	background-color: rgb(135,201,102);
	margin-left: 30px;
	text-align: center;
	

	line-height: 100PX;
}
*/



#document
{
	/*position: absolute;*/
	display: none;
	/*display: flex;*/
	/*align-items: center;*/
	justify-content: center;

	/*width: 150px;*/
	height: 80px;

	/*margin: auto;*/
	margin-top: -73px;
	margin-left: 135px;		
	padding-left: 5px;
	padding-right: 5px;	

	border-radius: 100px;
	/*border-bottom: 2PX rgb(36,115,57) solid; */
	/*border-right: 2PX rgb(36,115,57) solid;*/

	background-color: /*red*/ /*rgb(36,115,57)*/;
	/*line-height: 150px;*/

	opacity: 0.9;
}	

#ijh
{
	
	display: flex;
	
}

.bulle
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 70px;
	height: 70px;

	margin: auto;
	margin-left: 15px;
	margin-top: 3px;
	margin-right: 15px;

	border-radius: 200px;
	border-bottom: 2PX rgb(230,230,230) solid; 
	border-right: 2PX rgb(230,230,230) solid;

	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;
	box-shadow: inset 0 0 1em transparent, 0 0 1em  grey/*rgb(36,115,57)*/;
	}

.bulle:hover
{
	box-shadow: inset 0 0 1em transparent, 0 0 1em  white/*rgb(36,115,57)*/;
}


#Bloc_info
{
	display: flex;
	border: 3px rgb(230,230,230) solid;
	background-color: /*white*/ rgb(205,55,0) /*red*/;
	/*height: 200px;*/
	margin-right: 50px;
	margin-left: 50px;
	padding: 30px;
	color: white;
	transition: 0.3s;
	cursor: pointer;
	/*margin: auto;*/
	/*justify-content: space-around;*/
}

#Bloc_info:hover
{
	background-color: /*white*/ white /*red*/;
	color: rgb(205,55,0);
	transition: 0.3s;
}


#logo_dico
{
	margin-left: 40px;
}

#Texte_Bloc_info
{
	/*text-align: right;*/
	/*background-color: green;*/
	font-family: Trebuchet MS;
	/*color: grey white;*/
	width: 720px;
	margin-right: 50px;
	margin-left: 30px;
	line-height: 30px;
}			



#BlocMatire
{
	/*background-color: green;*/
	display: flex;

}


.leMenu
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 60px;
	height: 60px;

	margin: auto;
	margin-left: 15px;
	margin-top: 20px;
	border-radius: 200px;
	/*border-bottom: 2PX rgb(230,230,230) solid; 
	margin-right: 15px;

	border-right: 2PX rgb(230,230,230) solid;*/

	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;

	background-image: url("../../PZ IMAGES/Home_2.png");
	background-size: cover;
}

.leMenu:hover
{
	/*box-shadow: inset 0 0 1em transparent, 0 0 1em  white;*/
	transition: 200ms;
	box-shadow: 5px 5px rgba(0,0,0,0.3);
}



.Essence
{
	text-align: center;
	/*display: inline-bloc;
	vertical-align: middle;*/
	justify-content: center;

	width: 60px;
	height: 60px;

	margin: auto;
	margin-left: 15px;
	/*margin-top: 20px;*/
	border-radius: 200px;
	border-bottom: 2PX rgb(230,230,230) solid; 
	margin-right: 15px;

	border: 2px orange solid;
	
	background-color: WHITE;
	line-height: 100px;

	cursor: pointer;

	background-image: url("../PZ IMAGES/Essentiel_2.png");
	background-size: cover;


}



/*_____________________________________________________________________________________________________________________________*/








/*______________________________________________________________________________________________________________________________*/





