@import '../../../BandeauNEW.css';
:root
{
	--BandeauCouleur: rgb(255,100,120);
	--MatiereCouleur: rgb(240,47,83);
}


											/*BOUTON PRINCIPAL*/






#Bloc_info
{
	width: 80%;
	margin: auto;
	display: flex;
	border: 3px rgb(230,230,230) solid;
	background-color: /*white*/ rgb(205,55,0) /*red*/;
	padding: 30px;
	color: white;
	transition: 0.3s;
	cursor: pointer;
}

#Bloc_info:hover
{
	background-color: /*white*/ white /*red*/;
	color: rgb(205,55,0);
	transition: 0.3s;
}


#logo_dico
{
	margin-left: 40px;
	background-image: url("../../PZ IMAGES/logo dicophilo.png	");
	width: 275px;
	height: 71px;
}

#Texte_Bloc_info
{
	/*text-align: right;*/
	/*background-color: green;*/
	font-family: Trebuchet MS;
	/*color: grey white;*/
	font-size: 25px;
	width: 720px;	
	margin-right: 50px;
	margin-left: 30px;
	line-height: 70px;
}			


#image_tema1
{
	background-image: url("../../PZ IMAGES/justitia-2597016_640.jpg");
}


#image_tema2
{
	background-image: url("../../PZ IMAGES/dove-2516641_640.jpg");
}

#image_tema3
{
	background-image: url("../../PZ IMAGES/hourglass-620397_640.jpg");
}


#image_tema4
{
	background-image: url("../../PZ IMAGES/mountains-1412683_640.png");
}

#image_tema5
{
	background-image: url("../../PZ IMAGES/mosaic-200864_640.jpg");
}


#image_tema6
{
	background-image: url("../../PZ IMAGES/clock-272483_640.jpg");
}
















@media (max-width: 1100px)
{

	

	#Bloc_info
	{
		width: 97%;
		margin: auto;
		display: flex;
		border: 3px rgb(230,230,230) solid;
		background-color: /*white*/ rgb(205,55,0) /*red*/;
		padding: 20px 0px;
		color: white;
		transition: 0.3s;
		cursor: pointer;
	}

#Bloc_info:hover
{
	background-color: /*white*/ white /*red*/;
	color: rgb(205,55,0);
	transition: 0.3s;
}


#logo_dico
{
	margin-left: 20px;
	background-image: url("../../PZ IMAGES/logo dicophilo.png	");
	width: 345px;
	height: 71px;
}

#Texte_Bloc_info
{
	/*text-align: right;*/
	/*background-color: green;*/
	font-family: Trebuchet MS;
	/*color: grey white;*/
	width: 720px;
	font-size: 30px;
	margin-right: 50px;
	margin-left: 30px;
	line-height: 70px;
}			

}