body
{
	font-family: Avenir, sans-serif;

	background-color: white;
	margin: auto;
}

#surlimage, #surlimagetext
{
	/* border: 2px solid red; */
	display: table-cell;
	vertical-align: middle;
}

#surlimagetext:after
{
	content: attr(letext);
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px 30px;
	background-color: rgba(0, 0, 0, 0.308);
	width: 240px;
	height: 160px;
	border-radius: 50px;
	opacity: 0;
	transition: 200ms;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bold;
}

#surlimagetext:hover:after
{
	transition: 200ms;
	opacity: 1;
}


#limage
{
	border-radius: 50%;
}

#limagecasey
{
	border-radius: 50px;
}

											/*BOUTON PRINCIPAL*/






#bandeau
{
	background-color: orange;
	padding: 0.5px;
	display: flex;
	border-bottom: 5px orange solid;
	border-top: 5px orange solid;
	height: 100px;



}

#PP
{
	margin: auto;
	font-size: 50px;
	font-family: Trebuchet MS;
	font-weight: bold;
	color: white;
}






#préambule
{
	justify-content: space-around;
	align-items: center;
	margin: auto;
	/*display: flex;*/
	background-color: white;
	height: 120px;
	width: 1000px;
	text-align: center;
	padding: 30px;
	border-radius: 50px;
	box-shadow: 0 0 20px rgb(224, 224, 224);

}

#préambule h2
{
	color: orange;
}




#classeur
{
	/* background-color: red; */
	margin: 200px auto;
	width: 75%;
}



#titre
{
	border-radius: 2px;
	font-size: 50px;
	font-weight: bold;
	margin: auto;	
	color: orange;
	font-family: Trebuchet MS;
	text-align: center;
	padding: 10px;
}








#Sommaire_Matieres
{
	/* background-color:  	blanchedalmond; */
	/* width: 70%; */

	display: grid;
    grid-template-columns:  auto auto auto;
    grid-gap: 60px 60px;
	justify-content: center;
	border: 3px rgb(255, 196, 0) solid;
	padding: 80px;
	border-radius: 80px;
	box-shadow: 20px 20px rgb(255, 196, 0);
}


.Matiere_fantome
{
	width: 300px;
	height: 220px;
	
	
	
	

}




.Matieres
{
	width: 300px;
	height: 220px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 20px rgb(224, 224, 224);
	text-align: center;
	/*border-bottom: 3px rgb(238,238,238) solid;
	border-right: 3px rgb(238,238,238) solid; */
	border-radius: 50px;
	cursor: pointer;
	transition: 200ms;
	display: table;
}





.Matieres:hover
{

	transition: 200ms;
	transform: scale(1.1); 
}







.Matieres1
{
	width: 300px;
	height: 220px;
	background-color: rgb(0,92,169);
	
	text-align: center;
	border-bottom: 3px rgb(0,92,169) solid;
	border-right: 3px rgb(0,92,169) solid; 
	border-radius: 50px;
	cursor: pointer;
	

}


.Matieres1:hover
{

	border-bottom: 3px rgb(0,61,111) solid; 
	border-right: 3px rgb(0,61,111) solid;
	transition: 0.5s;
}


#MatiereImage
{
	background-color:teal;
	line-height: 110px;

}



#footer
{
	margin-top: 200px;
	background-color: orange;
	padding: 20px;

	display: flex;
	border-bottom: 5px orange solid;
	border-top: 5px orange solid;
	padding-left: 50px;
}





